# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs
*.user
/*/x64/Debug
/*/*/x64/Debug
*.ilk
*.pdb
*.exp
/Sample9/dlldata.c
/Sample9/guids.c
/Sample9/iface.h
/Sample9/proxy.c
/Sample9/server.res
/Sample9/server.tlb
/Sample10/Client.res
/Sample10/Guids.c
/Sample10/Iface.h
/Sample10/Proxy.c
/Sample10/Server.tlb
/Sample10/dlldata.c
/Sample11/Client.res
/Sample11/Guids.c
/Sample11/Iface.h
/Sample11/Proxy.c
/Sample11/dlldata.c
/Sample11/Server.tlb
/*/*/Debug
/Sample12/CANVAS/CANVAS_I_i.c
/Sample12/CANVAS/CANVAS_I_p.c
/Sample12/CANVAS/Canvas_C_i.c
/Sample12/CANVAS/dlldata.c
/Sample12/SHARE/CANVAS_I.h
/Sample12/SHARE/Canvas_C.h
/Sample12/MODEL/Event_I_i.c
/Sample12/MODEL/Event_I_p.c
/Sample12/MODEL/dlldata.c
/Sample12/MODEL/model_c_i.c
/Sample12/MODEL/model_i_i.c
/Sample12/MODEL/model_i_p.c
/Sample12/SHARE/Event_I.h
/Sample12/SHARE/model_c.h
/Sample12/SHARE/model_i.h
/Sample12/SHARE/tantype.h
/Sample12/GDIWRLD/WORLD_I_i.c
/Sample12/GDIWRLD/WORLD_I_p.c
/Sample12/GDIWRLD/World_C_i.c
/Sample12/GDIWRLD/dlldata.c
/Sample12/GDIWRLD/visual_i_i.c
/Sample12/GDIWRLD/visual_i_p.c
/Sample12/SHARE/WORLD_I.h
/Sample12/SHARE/World_C.h
/Sample12/SHARE/visual_i.h
/EssentialCOM_-_sample1/Animals_h.h
/EssentialCOM_-_sample1/Animals_i.c
/EssentialCOM_-_sample1/Animals_p.c
/EssentialCOM_-_sample1/dlldata.c
/EssentialCOM_-_sample2/Apes/Apes_h.h
/EssentialCOM_-_sample2/Apes/Apes_i.c
/EssentialCOM_-_sample2/Interface/Apeitfs_h.h
/EssentialCOM_-_sample2/Interface/Apeitfs_i.c
/EssentialCOM_-_sample2/Interface/Apeitfs_p.c
/EssentialCOM_-_sample2/Interface/dlldata.c
/EssentialCOM_-_sample2/Interface/Apeitfs.h
*.aps
