# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs
*.user
/*/x64/Debug
/*/*/x64/Debug
*.ilk
*.pdb
*.exp
/Sample9/dlldata.c
/Sample9/guids.c
/Sample9/iface.h
/Sample9/proxy.c
/Sample9/server.res
/Sample9/server.tlb
/Sample10/Client.res
/Sample10/Guids.c
/Sample10/Iface.h
/Sample10/Proxy.c
/Sample10/Server.tlb
/Sample10/dlldata.c
/Sample11/Client.res
/Sample11/Guids.c
/Sample11/Iface.h
/Sample11/Proxy.c
/Sample11/dlldata.c
/Sample11/Server.tlb
